<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body>
<%- include('includes/header') %>

    <main>
        <h2>big titty goth girl drive me CRAZY</h2>
    </main>
    <%- include('includes/footer') %>
</body>
</html>